html {
	margin: 0px;
}
body {
	width: 1335px;  
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: glober-regular, sans-serif;
}

/*------ HEADER ------*/
.wrap {
	z-index: 2;
}
header {
	
	font-family: glober-regular, sans-serif;
	background-image: url(../img/head-back.png);
	height: 115px;
	width: 1335px;
	display: grid;
	grid-template-columns: 117.5px 550px 275px 265px 127.5px;
	grid-template-rows: repeat(10, 11.5px);
}
.header__logo {
	grid-area: 1 / 2 / 1 / 3;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(10, 11.5px);
}
.logo__pic {
	grid-area: 1 / 1 / 7 / 1;
	width: 210px;
	height: 70px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
}
.logo__text {
	grid-area: 5 / 1 / 10 / 1;
	font-size: 14px;
	padding-left: 5px;
	align-self: start;
}
.header__phone {
	grid-area: 1 / 3 / 8 / 4;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: repeat(10, 11.5px);
}
.phone__pic {
	grid-area: 2 / 1 / 6 / 2;
	background-image: url(../img/call.png);
	background-position: 25% 0%;


}
.phone__number {
	grid-area: 2 / 2 / 6 / 3;
	align-self: end;
	color: #09c;
	font-size: 26px;
	
}
.phone__text {
	grid-area: 5 / 1 / 8 / 3;
    font-size: 14px;
    padding-left: 22px;
}
.header__call-back-btn {
	grid-area: 4 / 4 / 8 / 5;
    background-color: #fc0;
	height: 45px;
    width: 215px;
	align-self: end;
	justify-self: end;
}
.header_call-back-text {
	text-align: center;
	height: 22.5px;
	line-height: 22.5px;
}
/*------ MENU ------*/

.menu {
	position: relative;
	z-index: 3;
	margin-top: -23.5px;
	margin-left: 117.5px;
	background-color: #333;
	color: #fff;
	font-family: glober-regular, sans-serif;
	font-size: 10px;
	display: grid;
	height: 45px;
	width: 1100px;
	grid-template-columns: repeat(8, auto);
	grid-template-rows: 100%;
	justify-items: stretch;

}
.btn {
	text-align: center;
	height: 45px;
	line-height: 45px;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 100%;
	grid-template-areas: "left-line text right-line"
	                     ".         text          .";
}
.btn p {
	text-align: center;
	height: 22.5px;
	line-height: 22.5px;
}

.btn__left-line {
	height: 22.5px;
	width: 10px;
	border-bottom: 2px #333 solid;
	grid-area:   left-line;
}
.btn__right-line {
	height: 22.5px;
	width: 10px;
	border-bottom: 2px #333 solid;
	grid-area:   right-line;
	justify-self: end;
}

.btn:hover{
	background-color: #fc0;
	color: #333;
}
/*------ section distrib------*/

.distrib {
	z-index: 1;
	width: 1335px;
	margin-top: -50px;
	background-image: url(../img/banner.png);
}
.distrib__head{
	position: relative;
	top: 40px;
	margin-left: 117.5px;
	width: 1100px;
	height: 70px;
	background-color: #09c;
	color: #fff;
	font-size: 26px;
	text-align: center;
	line-height: 70px;
}
.distrib__description {
	position: relative;
	top: 20px;
	margin-left: 117.5px;
	height: 370px;
	width: 660px;
	background-color: #fff;
}
.desription__blue {
	margin-left: 4px;
	font-weight: 600;
	color:  #09c;
	font-size: 24px;
}
.text-bold {
	margin-left: 4px;
	font-weight: 600;
}
.description__text {
	margin-left: 8px;
	line-height: 16px;
	border-left: 2px solid black;
	width: 640px;
	height: 158px;
	padding-left: 4px;
	
}
